 <%= render partial: "layouts/header" %>
<div class="jumbotron">


    <div>
    <img id="cmark"  />
    </div>    
  
  
    <div id="btn-group">
      <button type="button" class="btn">My Sequence</button>
      <button type="button" class="btn">My Profile</button>
      <button type="button" class="btn">My Schedule</button>


    <img src="http://xdsoft.net/images/joomla/mod_nice_carusel/next/nicewallpaper.jpg" alt="Paris" width="400" height="300" =tic>



    <div class="btn-group">
      <button type="button" class="btn btn-default">My Sequence</button>
      <button type="button" class="btn btn-default">My Profile</button>
      <button type="button" class="btn btn-default">My Schedule</button>

    </div>

</div>
