<div class="jumbotron">


    <div>
      <img id="cmark"/>
    </div>
    <%# use id, not class%>
    <div id="btn-group">
      <%=link_to "My Sequence", schedulers_mysequence_path, class: "btn btn-default sample-button"%>
      <button type="button" class="btn btn-hover">My Profile</button>
      <button type="button" class="btn btn-hover">My Schedule</button>
    </div>
</div>
