
<div class="jumbotron">


    <div>
      <img id="cmark"/>
    </div>    
  
  
   </h>Welcome to your Sequence Page</h>
   
  <style> 

  background: url(img_flower.jpg) no-repeat center fixed; 
  background-size: cover;

body { 
  color: white; 
}
</style>


<%= link_to "Home",root_path, class: "btn btn-default sample-button" %><html>
