<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
      <p>&nbsp&nbsp<%= link_to "Home", root_path %></p>
        <%= value %>
    </div>
  <% end %>
</div>