// Place all the styles related to the mysquence controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sample-button{
    font: italic bold 12px/30px;
    color: rgba(125, 65, 108, 0.9);
}

.jumbotron{
    p{
        color: red;
    }
    
}